<html>
    <head>
        <title>ABM angular PHP</title>
        <!--?php require_once"partes/referencias.php" ;/**/?-->
        <!--final de Estilos-->    
        <!--script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="http://www.octavio.com.ar/favicon.ico">
        
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!--link rel="stylesheet" type="text/css" href="css/estilo.css">
        <link rel="stylesheet" type="text/css" href="css/animacion.css"-->

        <link rel="stylesheet"  type="text/css" href="css/form-style.css">
        <script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
        <script SRC="js/app.js" TYPE="text/javascript"></script>

            <style>
            .my-drop-zone { border: dotted 3px lightgray; margin-top:20px; padding: 80px;  }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }

            html, body { height: 100%; }
        </style>
        

    </head>
    <body ng-app="ABMangularPHP" ng-controller="controlPersonaAlta" >

        <div class="container">


            <!--div class="panel panel-info">
              <div class="panel-heading">
              <p>
                <h3 class="panel-title">Registro</h3>
                </p>
              </div>
              <div class="panel-body" -->
                <form name="FormIngreso" class="form-horizontal" enctype="multipart/form-data" style="height:auto !important; margin-bottom: 30px;" novalidate >
                


                    <div class="form-group has-success has-feedback required ng-class:{ 'has-error': FormIngreso.apellido.$invalid }">
                        <label class="col-md-4 control-label" for="apellido" >Apellido</label>
                        <div class="col-md-4">
                        <input id="apellido"  type="text" name="apellido" ng-model="persona.apellido"  placeholder="ingrese apellido" value="" class="form-control" aria-describedby="apellidoStatus"  required/>
                       
                        <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.apellido.$invalid"  aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.nombre.$invalid }">
                        <label  class="col-md-4 control-label">Nombre</label>
                        <div class="col-md-4">
                        <input type="text" name="nombre"  ng-model="persona.nombre" placeholder="ingrese nombre" value=""  class="form-control" required/> 
                        <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.nombre.$invalid"  aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.edad.$invalid }"">

                        <label class="col-md-4 control-label" >Edad</label>
                        <div class="col-md-4">
                        <input type="number"  ng-model="persona.edad" placeholder="ingrese edad" value="" name="edad" class="form-control" min="18" required/><span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.edad.$invalid"  aria-hidden="true"></span>
                        </div>
                    </div>


                            <!--div class="well my-drop-zone" style="height=50px;   " nv-file-over="" uploader="uploader">
                                Drop your images here
                            </div-->
                
                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.fechaNacimiento.$invalid }">

                    <label class="col-md-4 control-label">Fecha Nacimiento</label>
                    <div class="col-md-4">
                    <input type="date" name="fechaNacimiento" ng-model="fechaNacimiento" class="form-control" placeholder="dd/mm/aaaa" required />
                    <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.fechaNacimiento.$invalid"  aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.civil.$invalid }">
                    <label class="col-md-4 control-label">Estado Civil</label>
                    <div class="col-md-4">
                    <select class="form-control" name="civil" ng-model="persona.civil" placeholder="estado civil" required>
                        <option value="Soltero/a">Soltero/a</option>
                        <option value="Casado/a">Casado/a</option>
                        <option value="Viudo/a">Viudo/a</option>
                    </select>
                    </div>
                </div>

                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.dni.$invalid }">

                    <label class="col-md-4 control-label" >Dni</label>
                    <div class="col-md-4">
                    <input type="text" name="dni" ng-model="persona.dni" placeholder="ingrese dni" value=""   class="form-control" ng-Minlength="8" required /> 
                    <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.dni.$invalid"  aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-md-4 control-label">Sexo</label>
                    <div class="col-md-4">
                    <center>
                    <label  class="checkbox-inline"><input type="radio" name="sexo" ng-model="persona.sexo" value="Masculino"> Masculino</label>
                    <label class="checkbox-inline" ><input type="radio" name="sexo" ng-model="persona.sexo" value="Femenino"> Femenino</label>
                    <label class="checkbox-inline" ><input type="radio" name="sexo" ng-model="persona.sexo" value="other"> Otro</label>
                    </center>
                    </div>
                </div>


                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.correo.$untouched }">

                    <label class="col-md-4 control-label">Mail:</label>
                    <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope "></i></span>
                        <input type="email" name="correo" ng-model="persona.correo" placeholder="ingrese correo electronico" class="form-control" required/> 
                    </div>
                    <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.correo.$invalid"  aria-hidden="true"></span>
                    </div>
                </div>


                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.password.$invalid }">
                    <label class="col-md-4 control-label" >Password:</label>
                    <div class="col-md-4">
                     <input type="password" name="password" ng-model="persona.password" class="form-control" ng-Minlength="8" ng-required="FormIngreso.confirmPassword.$error" required/>
                    <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.password.$invalid"  aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.confirmPassword.$invalid }">
                    <label class="col-md-4 control-label">Confirme password:</label>
                    <div class="col-md-4">
                    <input type="password" class="form-control" name="confirmPassword" ng-model="password.confirm" match-password="password" required="" />
                     <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.passConf.$invalid"  aria-hidden="true"></span>

                    </div>


                </div>
                <!--center>
                    ng-required="persona.password!=persona.passConf || FormIngreso.passConf.$pristine"
                    <p>
                         Password: <input ng-model="persona.password" type="password" name="password" data-ng-class="{'ng-invalid':FormIngreso.confirmPassword.$error.match}" />
        Confirm: <input ng-model="persona.passwordConfirm" type="password" data-match="user.password" name="confirmPassword" />
        <div data-ng-show="FormIngreso.confirmPassword.$error.match">Passwords do not match!</div>
                        <span tyle="color:black;">{{FormIngreso.confirmPassword.$error.match}}</span>
                    </p>
                </center-->
                <center>
                <span tyle="color:black;">
                    pass1{{FormIngreso.password.$valid}}</br>
                    pass2{{FormIngreso.passConf.$valid}}</span>
                <input type="hidden" name="idOculto" id="id" value="" />
                </center>
                <!--
                    <input type="file" name="foto" />
                    <img  src="fotos/pordefecto.png" class="fotoform" id="foto"/>
                    <p style="  color: black;">*La foto se actualiza al guardar.</p>
                    -->
                <div class="form-group">
                    <label class="col-md-4 control-label"> Lenguaje  de programacion</label> 
                    <div class="col-md-4">
                    <p>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="C#"> C#
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="Angular"> Angular
                    </label>
                    <!--/div>
                    </div>
                    <div class="form-group">
                    <div class="col-md-offset-2"-->
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="PHP"> PHP
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="Java"> Java
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="VisualBasic"> Visual Basic
                    </label>
                    </p>
                    </div>
                </div>

                <!-- 3. nv-file-over uploader="link" over-class="className" -->
                

                <center>
                <button class="btn btn-info " ng-disabled="FormIngreso.$invalid" ng-click="Guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</</button>
                <input type="hidden" value="" id="idParaModificar" name="agregar" />
                <input type="hidden" value="" id="hdnAgregar" name="agregar" />
                </center>
            </form>
              <!--/div>
            </div-->
                
        </div>
    </body>
</html>