<html>
    <head>
        <title>ABM angular PHP</title>
        <!--?php require_once"partes/referencias.php" ;/**/?-->
        <!--final de Estilos-->    
        <!--script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="http://www.octavio.com.ar/favicon.ico">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!--link rel="stylesheet" type="text/css" href="css/estilo.css">
        <link rel="stylesheet" type="text/css" href="css/animacion.css"-->
        <script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
        <script SRC="js/app.js" TYPE="text/javascript"></script>

            <style>
            .my-drop-zone { border: dotted 3px lightgray; margin-top:20px; padding: 80px;  }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }

            html, body { height: 100%; }
        </style>
        
        <!--   VEX alert modal windows references
            <script type="text/javascript" language="javascript"
                  src="bower_components/jquery/dist/jquery.js"></script>
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
            
            <script src="bower_components/vex/dist/js/vex.combined.min.js"></script>
            <script>vex.defaultOptions.className = 'vex-theme-default'</script>
            <link rel="stylesheet" href="bower_components/vex/dist/css/vex.css" />
            <link rel="stylesheet" href="bower_components/vex/dist/css/vex-theme-default.css" />
            
            
            -->
        <!--  Vex modal windows launch on load script
            <script type="text/javascript" language="javascript">
            
                $(document).ready(function(){
                        vex.dialog.alert({
                message: 'Are you absolutely sure you want to destroy the alien planet?',
                callback: function (value) {
                    if (value) {
                        console.log('Successfully destroyed the planet.')
                    } else {
                        console.log('Chicken.')
                    }
                }
            })
                });
            </script> -->
    </head>
    <body ng-app="ABMangularPHP" ng-controller="controlPersonaAlta" >
        <!--ul class="nav nav-tabs">
            <li  class="btn btn-info animated bounceInLeft" >
                <a href="index.html">
                <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
                Inicio
                </a>
            </li>
            <li class="btn btn-info animated bounceInLeft" >
                <a href="formAlta.html">
                <span class="glyphicon glyphicon-plus-sign">&nbsp;</span>
                Alta
                </a>
            </li>
            <li  class="btn btn-info animated bounceInLeft" >
                <a href="formGrilla.html"> 
                <span class="glyphicon glyphicon-th" >&nbsp;</span>
                Grilla</a>
            </li>
            <span id="tituloBarra"  class="animated bounceInRight">{{DatoTest}}ABM - PHP - Angular Versión 1.0.1 &nbsp;&nbsp;&nbsp;</span>
        </ul -->
        <div class="container">
        <div class="row"></div>

            <div class="panel panel-info">
              <div class="panel-heading">
              <p>
                <h3 class="panel-title">Registro</h3>
                </p>
              </div>
              <div class="panel-body">
                <form name="FormIngreso" enctype="multipart/form-data" style="height:auto !important; margin-bottom: 30px;" novalidate >
                
                <!--<input type="checkbox" ng-model="verdatos" value="verdatos"> <br>
                    CajaInicio animated bounceInRight
                    
                        -->
                <!--Campos necesarios:
                    http://www.w3schools.com/angular/angular_validation.asp
                    nombre:
                    apellido:
                    edad:(number)
                    sexo:(radio button).
                    dni:(number)
                    mail:(email)
                    estado civil:(select-option)
                    fecha nacimiento:(date)
                    clave:(password)
                    copia de clave:(password)
                    lenguajes de programacion(checkbox): c,c#, javaScript,PHP,vb.Net
                    {{FormIngreso.$invalid}}
                    -->
                <!--div class="form-group has-success has-success has-feedback">
                    <label class="control-label" for="inputSuccess2">Input with success</label>
                    <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                    </div-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.apellido.$invalid }">
                            <label class="control-label" for="apellido" >* Apellido : </label>
                            <input id="apellido"  type="text" name="apellido" ng-model="persona.apellido"  placeholder="ingrese apellido" value="" class="form-control" aria-describedby="apellidoStatus"  required/>
                           
                            <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.apellido.$invalid"  aria-hidden="true"></span>
                        </div>

                        <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.nombre.$invalid }">
                            <label  class="control-label">Nombre:</label>
                            <input type="text" name="nombre"  ng-model="persona.nombre" placeholder="ingrese nombre" value=""  class="form-control" required/> 
                            <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.nombre.$invalid"  aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.edad.$invalid }"">
                            <label class="control-label" >Edad:</label>
                            <input type="number"  ng-model="persona.edad" placeholder="ingrese edad" value="" name="edad" class="form-control" min="18" required/><span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.edad.$invalid"  aria-hidden="true"></span>
                        </div>

                    </div>
                    <div class="col-md-6" >
                            <div class="well my-drop-zone" style="height=50px;   " nv-file-over="" uploader="uploader">
                                Drop your images here
                            </div>
                    </div>
                </div>
                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.fechaNacimiento.$invalid }">
                    <label class="control-label">Fecha Nacimiento</label>
                    <input type="date" name="fechaNacimiento" ng-model="fechaNacimiento" class="form-control" placeholder="dd/mm/aaaa" required />
                    <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.fechaNacimiento.$invalid"  aria-hidden="true"></span>
                </div>
                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.civil.$invalid }">
                    <label class="control-label">Estado Civil:</label>
                    <select class="form-control" name="civil" ng-model="persona.civil" placeholder="estado civil" required>
                        <option value="Soltero/a">Soltero/a</option>
                        <option value="Casado/a">Casado/a</option>
                        <option value="Viudo/a">Viudo/a</option>
                    </select>
                    
                </div>
                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.dni.$invalid }">
                    <label class="control-label" >Dni:</label>
                    <input type="text" name="dni" ng-model="persona.dni" placeholder="ingrese dni" value=""   class="form-control" ng-Minlength="8" required /> 
                    <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.dni.$invalid"  aria-hidden="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Sexo:</label>
                    <label  class="checkbox-inline"><input type="radio" name="sexo" ng-model="persona.sexo" value="Masculino"> Masculino</label>
                    <label class="checkbox-inline" ><input type="radio" name="sexo" ng-model="persona.sexo" value="Femenino"> Femenino</label>
                    <label class="checkbox-inline" ><input type="radio" name="sexo" ng-model="persona.sexo" value="other"> Otro</label>
                    
                </div>
                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.correo.$untouched }">
                    <label class="control-label">Mail:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope "></i></span>
                        <input type="email" name="correo" ng-model="persona.correo" placeholder="ingrese correo electronico" class="form-control" required/> 
                        </div>
                    <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.correo.$invalid"  aria-hidden="true"></span>
                </div>
                <div class="form-group has-success has-feedback ng-class:{ 'has-error': FormIngreso.password.$untouched }">
                    <label class="control-label" >Password:</label>
                    <input type="password" name="password" ng-model="persona.password" class="form-control" ng-Minlength="8" required/>
                    <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.password.$invalid"  aria-hidden="true"></span>
                    <label  >Confirme password:</label>
                    <input type="password" name="passConf"  ng-model="persona.passConf" class="form-control" ng-Minlength="8" ng-required="persona.password!=persona.passConf || FormIngreso.passConf.$pristine" required />
                     <span class="has-error glyphicon glyphicon-remove form-control-feedback"   ng-show="FormIngreso.passConf.$invalid"  aria-hidden="true"></span>

                    <span tyle="color:black;">
                    pass1{{FormIngreso.password.$valid}}</br>
                    pass2{{FormIngreso.passConf.$valid}}</span>
                </div>
                <input type="hidden" name="idOculto" id="id" value="" />
                <!--
                    <input type="file" name="foto" />
                    <img  src="fotos/pordefecto.png" class="fotoform" id="foto"/>
                    <p style="  color: black;">*La foto se actualiza al guardar.</p>
                    -->
                <div class="form-group">
                    <label> Lenguaje  de programacion</label> 
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="C#"> C#
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="Angular"> Angular
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="PHP"> PHP
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="Java"> Java
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="VisualBasic"> Visual Basic
                    </label>
                </div>

                <!-- 3. nv-file-over uploader="link" over-class="className" -->
                


                <button class="btn btn-info " ng-disabled="FormIngreso.$invalid && persona.password!=persona.passConf && FormIngreso.password.$valid && FormIngreso.passConf.$valid" ng-click="Guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</</button>
                <input type="hidden" value="" id="idParaModificar" name="agregar" />
                <input type="hidden" value="" id="hdnAgregar" name="agregar" />
            </form>
              </div>
            </div>
                
        </div>
    </body>
</html>